<% include general/header %>
<link rel="stylesheet" href="css/log_reg.css">
<div class="container">
	<div class="text-center">
		<h1 class="display-4">Chọn dạng câu hỏi</h1>
	</div>
	<ul class="nav nav-tabs nav-justified" id="nav" role="tablist">
		<li class="nav-item">
			<a href="#" class="nav-link h4 mb-0" id="type-1" aria-controls="step-1" aria-selected="true">Dạng 1<br /><small>chọn đúng/sai</small></a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link h4 mb-0" id="type-2" aria-controls="step-2" aria-selected="false">Dạng 2<br /><small>chọn 1 đáp án</small></a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link h4 mb-0" id="type-3" aria-controls="step-3" aria-selected="false">Dạng 3<br /><small>chọn nhiều đáp án</small></a>
		</li>
	</ul>
</div>
<!-- end option -->
<form class="container" id="true-false" style="display: none;" method="post" action="/questions/new">
	<input value="1" style="display: none" name="type"/>
	<div class="form-group">
		<label for="ques-type1">Nhập câu hỏi:</label>
		<textarea class="form-control" id="ques-type1" rows="3" name="content" required></textarea>
	</div>
	<div class="form-group">
		<div>Đáp án:</div>
		<input type="radio" name="true_ques" value="1" checked/> Đúng<br />
		<input type="radio" name="true_ques" value="0"/> Sai
	</div>
	<div class="form-group form-inline">
		<label style="margin-right : 27px;">Độ khó:</label>
		<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="width: 50%" name="dokho">
			<option value="de" selected>Dễ</option>
			<option value="tb">Trung bình</option>
			<option value="kho">Khó</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label style="margin-right : 15px;">Lĩnh vực:</label>
		<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref1" style="width: 50%" name = "linhvuc">
			<option value="toan" selected>Toán</option>
			<option value="ly">Vật lý</option>
			<option value="anh">Tiếng Anh</option>
			<option value="iq">IQ</option>
			<option value="khac" >Khác</option>
		</select>
		<div id="div_khac1" class="form-group form-inline" style="display: none">
			<label style="margin-right : 15px;">Nhập lĩnh vực:</label>
			<input type="text" class="form-control" name = "lv_khac" id ="lv_khac1"/>
		</div>
	</div>
	<input type="submit" class="btn btn-success" value="Lưu">
	<button type="button" class="btn btn-danger"> Thoát</button>
</form>
<!-- end true-false question -->



<form class="container" id="choise" style="display: none;"  method="post" action="/questions/new">
	<input value="2" style="display: none" name="type"/>
	<div class="form-group">
		<label for="ques-type2">Nhập câu hỏi:</label>
		<textarea class="form-control" id="ques-type2" rows="3" name="content"></textarea>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">Nhập đáp án:</div>
		<div class="col-sm-6"></div>
		<div>Đáp án đúng</div>
	</div>
	<div class="form-group has-success row">
		<label class="control-label col-sm-1" for="id1">A: </label>
		<input class="form-control col-sm-6" type="text" id="id1" name="ans[]">
		<input type="radio" name="single_true" class="col-sm-3" value="0" checked>
	</div>
	<div class="form-group has-success row">
		<label class="control-label col-sm-1" for="id2">B: </label>
		<input class="form-control col-sm-6" type="text" id="id2" name="ans[]">
		<input type="radio" name="single_true" class="col-sm-3" value="1">
	</div>
	<div class="form-group has-success row">
		<label class="control-label col-sm-1" for="id3">C: </label>
		<input class="form-control col-sm-6" type="text" id="id3" name="ans[]">
		<input type="radio" name="single_true" class="col-sm-3" value="2">
	</div>
	<div class="form-group has-success row">
		<label class="control-label col-sm-1" for="id4">D: </label>
		<input class="form-control col-sm-6" type="text" id="id4" name="ans[]">
		<input type="radio" name="single_true" class="col-sm-3" value="3">
	</div>
	<div class="form-group form-inline">
		<label style="margin-right : 27px;">Độ khó:</label>
		<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="width: 50%" name="dokho">
			<option value="de" selected>Dễ</option>
			<option value="tb">Trung bình</option>
			<option value="kho">Khó</option>
		</select>
	</div>
	<div class="form-group form-inline">
		<label style="margin-right : 15px;">Lĩnh vực:</label>
		<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2" style="width: 50%" name = "linhvuc">
			<option value="toan" selected>Toán</option>
			<option value="ly">Vật lý</option>
			<option value="anh">Tiếng Anh</option>
			<option value="iq">IQ</option>
			<option value="khac" >Khác</option>
		</select>
		<div id="div_khac2" class="form-group form-inline" style="display: none">
			<label style="margin-right : 15px;">Nhập lĩnh vực:</label>
			<input type="text" class="form-control" name = "lv_khac" id ="lv_khac2"/>
		</div>
	</div>
	<input type="submit" class="btn btn-success" value="Lưu">
	<button type="button" class="btn btn-danger">Thoát</button>
</form>
<!-- end choise question -->



<form class="container" id="multichoise" style="display: none;" method="post" action="/questions/new">
	<input value="3" style="display:none" name="type"/>
	<div class="form-group">
		<label for="ques-type3">Nhập câu hỏi:</label>
		<textarea class="form-control" id="ques-type3" rows="3" name="content"></textarea>
	</div>
	<div>
		<div class="form-group row">
			<div class="col-sm-2">Nhập đáp án:</div>
			<div class="col-sm-6"></div>
			<div>Đáp án đúng</div>
		</div>
		<div class="form-group has-success " id="ans1">
			<label class="control-label col-sm-1" for="a">A: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="a" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="0" checked/>
			</div>
			<input type="button" class="btn btn-success" id="add1" value="Thêm">
		</div>

		<div class="form-group has-success " id="ans2" style="display: none;">
			<label class="control-label col-sm-1" for="b">B: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="b" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="1"/>
			</div>
			<input type="button" class="btn btn-success" id="add2" value="Thêm">
			<button type="button" class="btn btn-danger" id="del2">Xóa</button>
		</div>

		<div class="form-group has-success " id="ans3" style="display: none;">
			<label class="control-label col-sm-1" for="c">C: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="c" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="2"/>
			</div>
			<input type="button" class="btn btn-success" id="add3" value="Thêm">
			<button type="button" class="btn btn-danger" id="del3">Xóa</button>
		</div>

		<div class="form-group has-success" id="ans4" style="display: none;">
			<label class="control-label col-sm-1" for="d">D: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="d" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="3"/>
			</div>
			<input type="button" class="btn btn-success" id="add4" value="Thêm">
			<button type="button" class="btn btn-danger" id="del4">Xóa</button>
		</div>
		<div class="form-group has-success" id="ans5" style="display: none;">
			<label class="control-label col-sm-1" for="e">E: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="e" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="4"/>
			</div>
			<input type="button" class="btn btn-success" id="add5" value="Thêm">
			<button type="button" class="btn btn-danger" id="del5">Xóa</button>
		</div>
		<div class="form-group has-success" id="ans6" style="display: none;">
			<label class="control-label col-sm-1" for="f">F: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="f" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="5"/>
			</div>
			<input type="button" class="btn btn-success" id="add6" value="Thêm">
			<button type="button" class="btn btn-danger" id="del6">Xóa</button>
		</div>
		<div class="form-group has-success" id="ans7" style="display: none;">
			<label class="control-label col-sm-1" for="g">G: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="g" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="6"/>
			</div>
			<input type="button" class="btn btn-success" id="add7" value="Thêm">
			<button type="button" class="btn btn-danger" id="del7">Xóa</button>
		</div>
		<div class="form-group has-success" id="ans8" style="display: none;">
			<label class="control-label col-sm-1" for="h">H: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="h" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="7"/>
			</div>
			<input type="button" class="btn btn-success" id="add8" value="Thêm">
			<button type="button" class="btn btn-danger" id="del8">Xóa</button>
		</div>
		<div class="form-group has-success " id="ans9" style="display: none;">
			<label class="control-label col-sm-1" for="i">I: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="i" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="8"/>
			</div>
			<input type="button" class="btn btn-success" id="add9" value="Thêm">
			<button type="button" class="btn btn-danger" id="del9">Xóa</button>
		</div>
		<div class="form-group has-success " id="ans10" style="display: none;">
			<label class="control-label col-sm-1" for="j">J: </label>
			<div class="row">
				<input class="form-control col-sm-6" style="margin-left: 10px;" type="text" id="j" name="ans[]">
				<div class="col-sm-2"></div>
				<input type="checkbox" name="mul_true" value="9"/>
			</div>
			<input type="button" class="btn btn-success" id="add10" value="Thêm">
			<button type="button" class="btn btn-danger" id="del10">Xóa</button>
		</div>
		<div class="form-group form-inline">
			<label style="margin-right : 27px;">Độ khó:</label>
			<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" style="width: 50%" name="dokho">
				<option value="de" selected>Dễ</option>
				<option value="tb">Trung bình</option>
				<option value="kho">Khó</option>
			</select>
		</div>
		<div class="form-group form-inline">
			<label style="margin-right : 15px;">Lĩnh vực:</label>
			<select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref3" style="width: 42%" name = "linhvuc">
				<option value="toan" selected>Toán</option>
				<option value="ly">Vật lý</option>
				<option value="anh">Tiếng Anh</option>
				<option value="iq">IQ</option>
				<option value="khac" >Khác</option>
			</select>
			<div id="div_khac3" class="form-group form-inline" style="display: none">
				<label style="margin-right : 15px;">Nhập lĩnh vực:</label>
				<input type="text" class="form-control" name = "lv_khac"/>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-10"></div>
		<div class="col-sm-2">
			<input type="submit" class="btn btn-success" value="Lưu">

			<button type="button" class="btn btn-danger">Thoát</button>
		</div>
	</div>
</form>
<br>
<!-- end multichoise question -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
	document.getElementById("type-1").onclick = function() {
		document.getElementById("true-false").style.display = "block";
		document.getElementById("choise").style.display = "none";
		document.getElementById("multichoise").style.display = "none";
	}
	document.getElementById("type-2").onclick = function() {
		document.getElementById("true-false").style.display = "none";
		document.getElementById("choise").style.display = "block";
		document.getElementById("multichoise").style.display = "none";
	}
	document.getElementById("type-3").onclick = function() {
		document.getElementById("true-false").style.display = "none";
		document.getElementById("choise").style.display = "none";
		document.getElementById("multichoise").style.display = "block";
	}
	// end option-type

	document.getElementById("add1").onclick = function() {
		document.getElementById("ans2").style.display = "block";
		document.getElementById("add1").style.display = "none";
	}
	document.getElementById("add2").onclick = function() {
		document.getElementById("ans3").style.display = "block";
		document.getElementById("add2").style.display = "none";
		document.getElementById("del2").style.display = "none";
	}
	document.getElementById("add3").onclick = function() {
		document.getElementById("ans4").style.display = "block";
		document.getElementById("add3").style.display = "none";
		document.getElementById("del3").style.display = "none";
	}
	document.getElementById("add4").onclick = function() {
		document.getElementById("ans5").style.display = "block";
		document.getElementById("add4").style.display = "none";
		document.getElementById("del4").style.display = "none";
	}
	document.getElementById("add5").onclick = function() {
		document.getElementById("ans6").style.display = "block";
		document.getElementById("add5").style.display = "none";
		document.getElementById("del5").style.display = "none";
	}
	document.getElementById("add6").onclick = function() {
		document.getElementById("ans7").style.display = "block";
		document.getElementById("add6").style.display = "none";
		document.getElementById("del6").style.display = "none";
	}
	document.getElementById("add7").onclick = function() {
		document.getElementById("ans8").style.display = "block";
		document.getElementById("add7").style.display = "none";
		document.getElementById("del7").style.display = "none";
	}
	document.getElementById("add8").onclick = function() {
		document.getElementById("ans9").style.display = "block";
		document.getElementById("add8").style.display = "none";
		document.getElementById("del8").style.display = "none";
	}
	document.getElementById("add9").onclick = function() {
		document.getElementById("ans10").style.display = "block";
		document.getElementById("add9").style.display = "none";
		document.getElementById("del9").style.display = "none";
	}
	// end add question

	document.getElementById("del2").onclick = function() {
		document.getElementById("ans2").style.display = "none";
		document.getElementById("add1").style.display = "block";
		document.getElementById("ans1").style.display = "block";
		document.getElementById("b").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 2) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del3").onclick = function() {
		document.getElementById("ans3").style.display = "none";
		document.getElementById("add2").style.display = "inline";
		document.getElementById("del2").style.display = "inline";
		document.getElementById("ans2").style.display = "block";
		document.getElementById("c").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 3) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del4").onclick = function() {
		document.getElementById("ans4").style.display = "none";
		document.getElementById("add3").style.display = "inline";
		document.getElementById("del3").style.display = "inline";
		document.getElementById("ans3").style.display = "block";
		document.getElementById("d").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 4) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del5").onclick = function() {
		document.getElementById("ans5").style.display = "none";
		document.getElementById("add4").style.display = "inline";
		document.getElementById("del4").style.display = "inline";
		document.getElementById("ans4").style.display = "block";
		document.getElementById("e").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 5) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del6").onclick = function() {
		document.getElementById("ans6").style.display = "none";
		document.getElementById("add5").style.display = "inline";
		document.getElementById("del5").style.display = "inline";
		document.getElementById("ans5").style.display = "block";
		document.getElementById("f").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 6) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del7").onclick = function() {
		document.getElementById("ans7").style.display = "none";
		document.getElementById("add6").style.display = "inline";
		document.getElementById("del6").style.display = "inline";
		document.getElementById("ans6").style.display = "block";
		document.getElementById("g").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 7) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del8").onclick = function() {
		document.getElementById("ans8").style.display = "none";
		document.getElementById("add7").style.display = "inline";
		document.getElementById("del7").style.display = "inline";
		document.getElementById("ans7").style.display = "block";
		document.getElementById("h").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 8) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del9").onclick = function() {
		document.getElementById("ans9").style.display = "none";
		document.getElementById("add8").style.display = "inline";
		document.getElementById("del8").style.display = "inline";
		document.getElementById("ans8").style.display = "block";
		document.getElementById("i").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 9) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	document.getElementById("del10").onclick = function() {
		document.getElementById("ans10").style.display = "none";
		document.getElementById("add9").style.display = "inline";
		document.getElementById("del9").style.display = "inline";
		document.getElementById("ans9").style.display = "block";
		document.getElementById("j").value = "";
		var inputs = document.getElementsByTagName("input");
		var k;
		var n = 0;
		for (var i = 0; i < inputs.length; i++) {
			if (inputs[i].type == "checkbox") {
				n++;
				if (n == 10) {
					k = i;
					break;
				}
			}
		}
		inputs[k].checked = false;
	}
	$(document).ready(function(){
    $('#inlineFormCustomSelectPref1').on('change', function() {
      if ( this.value == 'khac')
      {
        $("#div_khac1").show();
				$("#lv_khac1").prop('required',true);
      }
      else
      {
        $("#div_khac1").hide();
				$("#lv_khac1").prop('required',false);
      }
    });
});
$(document).ready(function(){
	$('#inlineFormCustomSelectPref2').on('change', function() {
		if ( this.value == 'khac')
		{
			$("#div_khac2").show();
			$("#lv_khac2").prop('required',true);
		}
		else
		{
			$("#div_khac2").hide();
			$("#lv_khac2").prop('required',false);
		}
	});
});
$(document).ready(function(){
	$('#inlineFormCustomSelectPref3').on('change', function() {
		if ( this.value == 'khac')
		{
			$("#div_khac3").show();
			$("#lv_khac3").prop('required',true);
		}
		else
		{
			$("#div_khac3").hide();
			$("#lv_khac3").prop('required',false);
		}
	});
});
</script>
<% include general/footer %>
