<% include general/header %>
<div class="container">
  <h2 style="text-align: center">Kết quả bài thi</h2>
  <div style="text-align: center; margin-bottom: 10px;" >
    <div><b style="font-size: 20px">Tên bài thi: </b><div style="font-size: 25px;display: inline;"> <%= name %> </div></div>
    <div><b style="font-size: 20px">Số câu hỏi: </b><div style="font-size: 25px;display: inline;"> <%= length %> </div></div>
    <div><b style="font-size: 20px">Số câu trả lời đúng: </b><div style="font-size: 25px;display: inline;"> <%= num %> </div></div>
    <div><b style="font-size: 20px">Điểm: </b> <div style="font-size: 25px;display: inline;"><%= mark %> </div></div>
    <button class="btn btn-success"><a href="/" style="color: white;">Trở về trang chủ</a></button>
  </div>
</div>
<% include general/footer %>
