<% include general/header %>
<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(img/bg-img/bg1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <!-- Hero Content -->
        <div class="hero-content text-center">
          <h2>Trải nghiệm cùng chúng tôi!</h2>
          <a href="/tests" class="btn clever-btn">Bắt đầu</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
          <div class="icon">
            <img src="img/core-img/docs.png" alt="">
          </div>
          <h2><span class="counter"><%= count.n_ques %></span></h2>
          <h5>Câu hỏi</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
          <div class="icon">
            <img src="img/core-img/star.png" alt="">
          </div>
          <h2><span class="counter"><%= count.n_test %></span></h2>
          <h5>Bài thi</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
          <div class="icon">
            <img src="img/core-img/events.png" alt="">
          </div>
          <h2><span class="counter"><%= count.n_user %></span></h2>
          <h5>Người dùng</h5>
        </div>
      </div>

      <!-- Single Cool Facts Area -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
          <div class="icon">
            <img src="img/core-img/earth.png" alt="">
          </div>
          <h2><span class="counter"><%= count.n_dt %></span></h2>
          <h5>Lượt làm bài</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

<!-- ##### Popular Courses Start ##### -->

<!-- ##### Best Tutors Start ##### -->
<section class="best-tutors-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading">
          <h3>Đội ngũ phát triển</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">
          <!-- Single Tutors Slide -->
          <div class="single-tutors-slides">
            <!-- Tutor Thumbnail -->
            <div class="tutor-thumbnail">
              <img src="img/bg-img/t1.jpg" alt="">
                            </div>
                            
                            <div class="tutor-information text-center">
                                <h5>Thân Chí Đạt</h5>
                                <span>MSV: 17020678</span>
                                <div class="social-info">
                                    <a href="https://www.facebook.com/bang.chemgio.7/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        
                        <div class="single-tutors-slides">
                            
                            <div class="tutor-thumbnail">
                                <img src="img/bg-img/t2.jpg" alt="">
                            </div>
                           
                            <div class="tutor-information text-center">
                                <h5>Hoàng Việt Hùng</h5>
                                <span>MSV: 17020183</span>
                                <div class="social-info">
                                    <a href="https://www.facebook.com/huskyIT" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-tutors-slides">
                            
                        <div class="tutor-thumbnail">
                                <img src="img/bg-img/t3.jpg" alt="">
                            </div>
                            <div class="tutor-information text-center">
                                <h5>Ngụy Mạnh Chung</h5>
                                <span>MSV: 17020614</span>
                                <div class="social-info">
                                    <a href="https://www.facebook.com/mycomputer06" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
</section>

<!-- ##### Best Tutors End ##### -->
<% include general/footer %>
